body {
  background-color: black;
  
}

.divStyle {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.imageStyle {
  width: 200px;
  border-radius: 10%;
  
}
